h1, h2, h3 {
                background-color: yellow;
                color:aqua;
                font-size: 30px;
            }
            h1 {
                color: white;
                /* color: rgb(255, 255, 25) */
            }
            .imortant{
                color:red;
            }
            .uppercase{
                text-transform: uppercase;
            }
            #the-one{
                color: blue;
            }